%div.comp-car-item
    .image-container
        %div.price
            #{price}
        %img.car-img.img-responsive{:src => "#{image}"}
    .info-container
        %span.tagline
            #{tagline}
        %span.title
            #{title}