%div.comp-featured
    .container
        .col-lg-4.col-md-12.col.sm-5
            %span.header Featured
        .col-lg-6.col-md-12.col.sm-7
            %span.copy
                We passionately pursue fine automobiles<br />
                that embody the rich heritage they deserve.
            .orange-bar