.comp-footer
    .container
        .col-lg-8.col-xs-12.menus
            .menu-list.col-lg-4.col-xs-12
                %span.heading THE SHOP
                %ul
                    %li INVENTORY
                    %li SUPERCHARGERS
                    %li TURBOS
                    %li CAR FINDER
            .menu-list.col-lg-4.col-xs-12
                %span.heading THE SHOP
                %ul
                    %li INVENTORY
                    %li SUPERCHARGERS
                    %li TURBOS
                    %li CAR FINDER
            .menu-list.col-lg-4.col-xs-12
                %span.heading THE SHOP
                %ul
                    %li INVENTORY
                    %li SUPERCHARGERS
                    %li TURBOS
        .col-lg-4.col-xs-12.card
            %img{:class => "logo", :src => "#{logo}"}
            %br/
            %div.phone-con
                %img.phone{:src=>"images/navigation/phone.png"}
                %span.number
                    866-457-7333
            %br/
            = partial "components/social-items"
            