%div.comp-hero
    .container
        .copy-block.fadeIn.container
            %span.header
                #{header}
            %span.header2
                #{secondary} 
            = partial "components/cta", :locals => { :text => "#{cta_text}", :cta_theme => "light" }
        