// this partial accepts a
// :logo = website_logo
// :menu = loads the navigation items

%div.comp-navigation
    .container
        .col-lg-4.col-xs-7.col-sm-7.col-md-3
            %img{:class => "logo", :src => "#{logo}"}
        .col-lg-8.col-xs-5.col-sm-5.col-md-9
            %div.hamburger-con
                -# %img.hamburger{:src=>"images/navigation/hamburger_black.svg"}
            %div.contact
                %img.phone{:src=>"images/navigation/phone.png"}
                %span.number
                    866-457-7333
                = partial "components/social-items"
            %ul.menu.hidden-sm.hidden-xs
                %li.item
                    %a(href="#")
                        Home
                %li.item
                    %a(href="#")
                        Inventory
                %li.item
                    %a(href="#")    
                        Services
                %li.item
                    %a(href="#")
                        Car Finder
                %li.item
                    %a(href="#")
                        About Us
                %li.item
                    %a(href="#")
                        Contact Us
            %div.stacked-menu.hidden-md.hidden-lg
                %li.item
                    %a(href="#")
                        Home
                %li.item
                    %a(href="#")
                        Inventory
                %li.item
                    %a(href="#")    
                        Services
                %li.item
                    %a(href="#")
                        Car Finder
                %li.item
                    %a(href="#")
                        About Us
                %li.item
                    %a(href="#")
                        Contact Us

