.comp-splash-block
    .container.has-orange-splitter
        %img.img-responsive.hidden-md.hidden-lg{:src=>'images/splash-block/hero-car.png'}
        -# .col-lg-5.col-md-5.image-side.hidden-xs.hidden-sm
        -#     %br/
        -#     &nbsp;
        -#     %br/
        .col-lg-7.col-md-7.col-xs-12.col-lg-push-5.col-md-push-5.copy-side
            .contents
               
                %span.header.mobile
                    THE BRAND
                    THE WHY
                    THE HEART
                %span.copy
                    The richest affections are born out of meaningful experiences. The carpenter’s son is drawn to the scent of sawdust. The child of a sailor longs to return to the salty sea air. But for us, it is the heady atmosphere of fresh motor oil, studying the curves of a Ferrari, or the symphony of 12 cylinders singing in harmony— all with a thirsty quest for the narrative behind them. These are the deep roots of ...
                = partial "components/cta", :locals => { :text => "#{cta_text}", :cta_theme => "dark" }
                    