// import libraries
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";


// bootstrap overrides
$containerMaxWidth : 1366px;

// animations
@import "animations/fadeIn";

// theming
@import "theme/fonts";
@import "theme/colors";

body{
    background: #eee;
}

.container-fluid.app{
    padding-left: 0px;
    padding-right: 0px;
}

.container{
    max-width: $containerMaxWidth !important;
    width: 100%;
}

.cars.container{
    padding-left: 84px;
    padding-right:84px;
    margin-top: 60px;
    @media screen and (min-width: 1366px){
        padding-left:30px;
        padding-right:30px;
    }
    @media screen and (max-width: 420px){
        margin-top:30px;
        padding-left: 30px;
        padding-right:30px;
    }
}


// components
@import "components/navigation";
@import "components/hero";
@import "components/cta";
@import "components/featured";
@import "components/car-item";
@import "components/splash-block";
@import "components/footer";
@import "components/social-items";