!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "ie=edge", "http-equiv" => "x-ua-compatible"}/
    -# %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    
    / Use the title from a page's frontmatter if it has one
    %title= current_page.data.title || "Speed Digital"
    = stylesheet_link_tag "sd"
  %body
    = yield
  %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js", type: "text/javascript"}
  %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/", type: "text/javascript"}
  %script{src: "javascripts/site.js", type: "text/javascript"}