.comp-car-item{
    // max-width: 300px;
    // position: relative;
    margin-bottom:30px;
    .image-container{
        position: relative;
        div.price{
            z-index: 1;
            // display: inline;
            position: absolute;
            top:11px;
            left:0px;
            background: $colors_orange;
            width: 92px;
            height: 28px;
            padding-left: 10px;
            padding-right: 10px;
            color: #ffffff;
            font-family: $fonts_bebasNeue;
            font-size: 22px;
            font-weight: 400;
            text-transform: uppercase;
        }
        img.car-img{
            position: relative;
        }
    }
    .info-container{
        bottom: 0px;
        position: relative;
        .tagline{
            display: block;
            color: $colors_black;
            font-family: $fonts_bebasNeue;
            font-size: 20px;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 1;
        }
        .title{
            display: block;
            color: $colors_orange;
            font-family: $fonts_bebasNeue;
            font-size: 37px;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 1;
        }
    }
}