.comp-cta{
    background-color: transparent;
    width: 227px;
    height: 58px;
    text-align: left;
    margin-top: 13px;
    padding-left: 18px;
    span{
        min-width: 85%;
        display: inline-block;
        font-family: $fonts_helvetica;
        font-size: 19px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .icon{
        display: inline-block;
        img{
            margin-top: -10px;
        }
    }
    &.light{
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.24);
        border: 4px solid #ffffff;
        span{
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.72);
            color: #ffffff;
        }
    }
    &.dark{
        border: 4px solid $colors_orange;
        span{
            color: $colors_orange;
        }
    }
}