// styles for _featured.haml (featured cars)
.comp-featured{
    padding-top: 50px;
    padding-left: 84px;
    span.header{
        font-family: $fonts_bebasNeue;
        color: $colors_black;
        font-size: 109px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 1;
    }
    span.copy{
        display:inline-block;
        color: $colors_darkBlack;
        font-family: $fonts_helvetica;
        font-size: 17px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 1.3;
    }
    .orange-bar{
        margin-top: 16px;
        background-color: $colors_orange;
        height: 16px;
    }
    @media screen and (max-width: 992px){
        
            padding-left: 30px;
            padding-right: 30px;
      
        span.header{
            font-size: 109px;
        }
        span.copy{
            font-size:17px;
        }
    }
    @media screen and (max-width:768px){
        padding-top: 0px;
        padding-bottom: 30px;
        span.header{
            font-size: 15vw;
        }
        span.copy{
            font-size:5vw;
        }
        .orange-bar{
            width: 100vw;
            margin-left:-60px;
            margin-right: -60px;
        }
    }
}