.comp-footer{
    background-color:#444444;
    .card{
        padding-top: 48px;
        color: white;
        .logo{
            margin-bottom: 10px;
        }
        .phone-con{
            margin-bottom: 20px;
        }
        span.number{
            color: white;
        }
    }
    .menu-list{
        padding-top: 48px;
        padding-bottom: 48px;
        span.heading{
            color: $colors_orange;
            font-family: $fonts_bebasNeue;
            font-size: 44px;
            font-weight: 400;
            padding-bottom: 0px;
            margin:0px;
            height: auto;
        }
        ul{
            padding-left: 0px;
            li{
                color: white;
                font-weight: 700;
                letter-spacing: 0.42px;
                line-height: 31.61px;
                font-family: Helvetica;
                font-size: 17px;
                font-weight: 700;
                text-transform: uppercase;
                list-style-type: none;
                &:hover{
                    cursor: hover;
                }
            }
        }
    }
    @media screen and (min-width: 992px){
        .card{
            float: left;
            text-align: center;
            .phone-con{
                text-align: center;
            }
        }
        .menus{
            float:right;
        }
    }
}