// styles for hero
.comp-hero{
    height: calc(100vh - 108px);
    min-height: 500px;
    background-image: linear-gradient(to right, rgba(205, 180, 41, 0.82) 0%, rgba(223, 149, 19, 0.82) 100%);
    background-image: url('../images/hero/8s0a6392.png');
    background-size: cover;
    position: relative;
    background-position: center center;
    .copy-block{
        // height: 190px;
        // width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 84px;
        padding-right: 84px;
        span.header{
            display:block;
            font-family: $fonts_bebas;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.72);
            color: #ffffff;
            font-size: 109px;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 1;
            margin-left: -2px;
        }
        span.header2{
            display:block;
            font-family: $fonts_helvetica;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.72);
            color: #ffffff;
            font-size: 26px;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 1;
            padding-left: 5px;
        }
    }
    @media screen and (min-width: 769px) and (max-width: 1023px){
        height: calc(100vh - 50px);
        min-height: auto;
        .copy-block{
            // padding-left: 0px;
            // left: 50%;
            // top: 50%;
            // transform: translateY(calc(-50% - 50px)) translateX(-50%);
            span.header{
                font-size: 109px;
            }
            span.header2{
                font-size: 26px;
            }
        }
    }
    @media screen and (max-width: 768px){
        height: calc(100vh - 100px);
        .copy-block{
            left: 50%;
            top: 50%;
            transform: translateY(calc(-50% - 50px)) translateX(-50%);
            padding-left: 30px;
            padding-right: 30px;
            span.header{
                font-size: 15vw;
            }
            span.header2{
                font-size: 7vw;
            }
        }
    }
    @media screen and (max-width: 410px){
        .copy-block{
            left: 50%;
            top: 50%;
            transform: translateY(calc(-50% - 50px)) translateX(-50%);
            padding-left: 30px;
        }
    }
}