// styles for _navigation.haml
.comp-navigation{
    background-color: white;
    // padding-left: 80px;
    height: 108px;
    position: relative;
    width: 100%;
    .logo{
        // position: absolute;
        // top: 50%;
        // transform: translateY(-50%);
        margin-top: 30px;
        width: 294px;
        height: 59px;
        margin-bottom: 18px;
        // margin-right: 160px;
        display: inline-block;
    }
    .contact{
        display: inline;
        position: relative;
        top: 20px;
        right: 0px;
        float:right;
        img.phone{
            height: 20px;
            width: 20px;
        }
        span.number{
            color: $colors_offblack;
            font-family: $fonts_helveticaNeueLTComHV;
            font-size: 17px;
            font-weight: 400;
            text-transform: uppercase;
            margin-right: 30px;
        }
    }
    ul.menu{
        margin-top: 32px;
        padding-left: 0px;
        float: right;
        li.item{
            display: inline;
            list-style-type: none;
            padding-left: 20px;
            a{
                color: $colors_offblack;
                font-family: $fonts_helveticaNeueLTComHV;
                font-size: 16px;
                font-weight: 400;
                text-transform: uppercase;
                padding-bottom: 18px;
                border-bottom: 5px solid transparent;
                &:hover{
                    border-bottom: 5px solid $colors_orange;
                    text-decoration: none; 
                }
            }
        }
    }
    @media screen and (max-width: 1068px){
        padding-left: 0px;
        height: 50px;
        .contact {
            display: none;
        }
        .logo{
            height: 30px;
            margin: 0;
            width: auto;
            margin-top: 12px;
        }
        .hamburger-con{
            float:right;
            height: 25px;
            width: 25px;
            z-index: 6;
            margin-top:12px;
            background-image: url('../images/navigation/hamburger_black.svg');
            background-size: contain;
            &:hover{
                cursor: pointer;
            }
            &.open{
                position: fixed;
                right: 20px;
                background-image: url('../images/navigation/close.svg');
            }
        }
        .stacked-menu{
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100vh;
            background-color: #f5ad00;
            display: none;
            padding: 25px 0 0 20px;
            z-index: 5;
            &.open{
                display: block;
            }
            li.item{
                display: block;
                margin-bottom: 50px;
                a{
                    color: #ffffff;
                    font-family: $fonts_helveticaNeueLTComHV;
                    font-size: 16px;
                    font-weight: 400;
                    text-transform: uppercase;
                    padding-bottom: 23px;
                    // border-bottom: 5px solid transparent;
                    // &:hover{
                    //     border-bottom: 5px solid $colors_orange;
                    //     text-decoration: none; 
                    // }
                }
            }
        }
    }
}