.comp-splash-block{
    margin-top: 30px;
    display: block;
    position: relative;
    .has-orange-splitter{
        border-top: 16px solid $colors_orange;
    }
    .image-side{
        
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 40%;
        background-image: url('../images/splash-block/hero-car.png');
    }

    .contents{
        // display: inline;
        // position: absolute;
        // top: 50%;
        // transform: translateY(30%);
        padding-top: 30px;
        padding-bottom:30px;
        padding-right: 85px;
        span.header{
            color: $colors_black;
            font-family: $fonts_bebasNeue;
            font-size: 99px;
            font-weight: 400;
            line-height: 90.01px;
            text-transform: uppercase;
            display: block;
        }
        span.copy{
            color: $colors_darkBlack;
            font-family: $fonts_helvetica;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.2;
            display: block;
        }
    }
    @media screen and (min-width: 1024px){
        .has-orange-splitter{
            background-position: left center;
            background-size: 40%;
            background-repeat: no-repeat;
            background-image: url('../images/splash-block/hero-car-ae79c2c5.png');
        }
    }
    @media screen and (max-width: 1170px){
        .contents{
            .header{
               &.desktop{
                   display:none;
               }
               &.mobile{
                   font-size:60px !important;
                   line-height: 1;
               }
            
            }
            .copy{
                line-height:1.2;
            }
        }
    }
   @media screen and (max-width: 1024px){
       .image-side{
           height: 400px !important;
           min-height: 400px !important;
       }
       .copy-side{
        .contents{
            padding-top:30px;
            padding-right: 0px;
            position: static;
            transform: none;
            .header{
               &.desktop{
                   display:none;
               }
               &.mobile{
                   font-size:60px !important;
                   line-height: 1;
               }
            
            }
            .copy{
                line-height:1.2;
            }
        }
       }
      
   }
}