.fadeIn {
    opacity: 0;
    -webkit-animation: fadein 4s forwards; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s forwards; /* Firefox < 16 */
        -ms-animation: fadein 4s forwards; /* Internet Explorer */
         -o-animation: fadein 4s forwards; /* Opera < 12.1 */
            animation: fadein 4s forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
