$fonts_helveticaNeueLTComHV : "Helvetica Neue LT Com - Hv";
$fonts_bebas : "Bebas";
$fonts_helvetica : "Helvetica";
$fonts_bebasNeue : "BebasNeue";

@font-face {
    font-family: "BebasNeue";
    src: url("../fonts/BebasNeue.otf") format("opentype");
}

@font-face {
    font-family: "Bebas";
    src: url("../fonts/BEBAS.ttf") format("truetype");
}

@font-face {
    font-family: "Helvetica Neue LT Com - Hv";
    src: url("../fonts/HelveticaNeueLTStd-Hv.otf") format("opentype");
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica.otf") format("opentype");
}

