%div.container-fluid.app
    = partial "components/navigation", :locals => { :logo => "images/navigation/sd-logo.svg" }
    = partial "components/hero", :locals => {:header => " MODERN TECHNOLOGY", :secondary => "FUELED BY CLASSIC PASSION", :cta_text => "LEARN MORE"}
    = partial "components/featured"
    .cars.container
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
            = partial "components/car-item", :locals => {:image => "images/car/car.png", :price => "$132,989",  :title => "AMG GTS", :tagline => "2016 Mercedes Benz"}
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
            = partial "components/car-item", :locals => {:image => "images/car/car.png", :price => "$132,989",  :title => "AMG GTS", :tagline => "2016 Mercedes Benz"}
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
            = partial "components/car-item", :locals => {:image => "images/car/car.png", :price => "$132,989",  :title => "AMG GTS", :tagline => "2016 Mercedes Benz"}
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
            = partial "components/car-item", :locals => {:image => "images/car/car.png", :price => "$132,989",  :title => "AMG GTS", :tagline => "2016 Mercedes Benz"}
    = partial "components/splash-block", :locals => {:cta_text => "Learn More"}
    = partial "components/footer", :locals => { :logo => "images/footer/logo-light.png" }